<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/style-scrape.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>ChatGPT Scraper - Hasil Preprocessing</title>
    <style>
        body {
            background-image: url("../static/images/bg-preprocessing.png");
        }
        
        /* Tambahkan style untuk mempertahankan format baris baru */
        .preserve-newlines {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 class="logo">ChatGPT Scraper</h1>
        {% if session.user_id %}
        <div class="button-div">
            <a href="/history" class="button-header">Lihat History</a>
            <a href="{{ url_for('logout') }}" class="button-header">Logout</a>
        </div>
        {% endif %}
    </div>

    <div class="content-preprocess-result">
        <div class="">
            <div class="header-scrape-result">
                <h2 class="judul">Hasil Preprocessing</h2>
            </div>
            
            <div class="button-scrape-result">
                <a href="{{ url_for('scrape_result', link_id=link_id) }}" class="button-header">Hasil Scraping</a>
            </div>
    
    
            {% if preprocessed_data %}
                <div class="table-container">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th class="table-header">No</th>
                                <th class="table-header">Prompt</th>
                                <th class="table-header">Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in preprocessed_data %}
                            <tr class="table-row">
                                <td class="table-cell">{{ loop.index }}</td>
                                <td class="table-cell preserve-newlines">{{ item.prompt }}</td>
                                <td class="table-cell preserve-newlines">{{ item.response }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="no-result">
                    Tidak ada hasil preprocessing ditemukan.
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>